<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="dubbo-server-search"/>

    <!-- 使用multicast广播注册中心暴露服务地址 -->
    <dubbo:registry address="zookeeper://localhost:2181"/>
    <!--<dubbo:registry address="zookeeper://120.25.224.206:2181"/>-->
    <!--<dubbo:registry address="zookeeper://10.45.162.235:2181"/>-->


    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20883" threads="1024"/>


    <!-- 声明需要暴露的服务接口 -->
    <dubbo:service interface="com.taoren.service.sc.UserSearchRemoteService" ref="esUserServiceImpl">
        <dubbo:method name="indexUser" async="true" return="false" />
        <dubbo:method name="updateUser" async="true" return="false" />
        <dubbo:method name="deleteUser" async="true" return="false" />

        <dubbo:method name="deleteUser" async="true" return="true" />
        <dubbo:method name="reIndexUser" async="true" return="true" />

    </dubbo:service>

    <dubbo:service interface="com.taoren.service.sc.LabelSearchRemoteService" ref="esLabelServiceImpl">
        <dubbo:method name="indexLabel" async="true" return="false" />
        <dubbo:method name="updateLabel" async="true" return="false" />
        <dubbo:method name="deleteLabel" async="true" return="false" />
    </dubbo:service>

    <dubbo:service interface="com.taoren.service.sc.AskingSearchRemoteService" ref="esAskingServiceImpl">
        <dubbo:method name="indexAsking" async="true" return="false" />
        <dubbo:method name="deleteAsking" async="true" return="false" />
        <dubbo:method name="replyAsking" async="true" return="false" />
    </dubbo:service>


    <dubbo:service interface="com.taoren.service.sc.NearBySearchRemoteService" ref="nearByServiceImpl" timeout="3000"/>
    <dubbo:service interface="com.taoren.service.sc.NearByAskingSearchRemoteService" ref="nearByAskingServiceImpl" timeout="3000"/>



</beans>